USE [master]
GO
/****** Object:  Database [FabrikaStokTakip]    Script Date: 11/11/2020 8:54:41 PM ******/
CREATE DATABASE [FabrikaStokTakip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FabrikaStokTakip', FILENAME = N'F:\Sql Server 2017\MSSQL14.MSSQLSERVER\MSSQL\DATA\FabrikaStokTakip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FabrikaStokTakip_log', FILENAME = N'F:\Sql Server 2017\MSSQL14.MSSQLSERVER\MSSQL\DATA\FabrikaStokTakip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FabrikaStokTakip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FabrikaStokTakip]
GO
/****** Object:  Table [dbo].[Depo]    Script Date: 11/11/2020 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[Stok] [int] NULL,
	[SonAlimTarihi] [date] NULL,
	[AsgariMiktar] [int] NULL,
 CONSTRAINT [PK_Depo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Islemler]    Script Date: 11/11/2020 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Islemler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciTC] [nvarchar](50) NULL,
	[UrunID] [int] NULL,
	[Miktar] [int] NULL,
	[Tutar] [float] NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_Islemler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 11/11/2020 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[TC] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[UnvanID] [int] NULL,
	[Tel] [nvarchar](50) NULL,
	[Adres] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unvan]    Script Date: 11/11/2020 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unvan](
	[ID] [int] NOT NULL,
	[Unvan] [nvarchar](50) NULL,
 CONSTRAINT [PK_Unvan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 11/11/2020 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](50) NULL,
	[AlisFiyati] [nvarchar](50) NULL,
	[Firma] [nvarchar](50) NULL,
 CONSTRAINT [PK_Urun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Kullanici] ([TC], [Sifre], [Ad], [Soyad], [UnvanID], [Tel], [Adres]) VALUES (N'admin', N'admin', N'admin', N'admin', 1, N'admin', N'admin')
GO
INSERT [dbo].[Unvan] ([ID], [Unvan]) VALUES (1, N'Yonetici')
INSERT [dbo].[Unvan] ([ID], [Unvan]) VALUES (2, N'Personel')
GO
ALTER TABLE [dbo].[Depo]  WITH CHECK ADD  CONSTRAINT [FK_Depo_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[Depo] CHECK CONSTRAINT [FK_Depo_Urun]
GO
ALTER TABLE [dbo].[Islemler]  WITH CHECK ADD  CONSTRAINT [FK_Islemler_Kullanici] FOREIGN KEY([KullaniciTC])
REFERENCES [dbo].[Kullanici] ([TC])
GO
ALTER TABLE [dbo].[Islemler] CHECK CONSTRAINT [FK_Islemler_Kullanici]
GO
ALTER TABLE [dbo].[Islemler]  WITH CHECK ADD  CONSTRAINT [FK_Islemler_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urun] ([ID])
GO
ALTER TABLE [dbo].[Islemler] CHECK CONSTRAINT [FK_Islemler_Urun]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Unvan] FOREIGN KEY([UnvanID])
REFERENCES [dbo].[Unvan] ([ID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Unvan]
GO
USE [master]
GO
